@page
@model SignInModel
@{
    ViewData["Title"] = "Sign In";
}

<div class="text-center">
    <h2>Redirecting to Azure AD B2C...</h2>
    <p>If you are not redirected automatically, <a href="@Url.Page("/Account/SignIn")">click here</a>.</p>
</div>
