@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Identity options - <b>@Config["EnvName"]</b></h1>

    <p>Learn about <a href="https://github.com/benkotips/identity-options">Identity options</a>.</p>
</div>

