@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome <b>@User.Identity.Name</b></h1>
    }
    else
    {
        <h1 class="display-4"><a href="myLogin">Login</a> to see more</h1>
    }

    <p>Learn about <a href="https://github.com/benkotips/identity-options">Identity options</a>.</p>
</div>

