@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <b>@Config["EnvName"]</b></h1>

    <p>View secure <a href="About">Configuration</a> (requires Authenticated user)</p>

    <p>Learn about <a href="https://github.com/benkotips/idopt"> Identity Options with .NET</a>.</p>
</div>
